---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/6.245.34.61
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "6.245.34.61",
          "city": "Yuma",
          "region": "Arizona",
          "country": "US",
          "loc": "32.7253,-114.6244",
          "org": "AS749 DoD Network Information Center",
          "postal": "85369",
          "timezone": "America/Phoenix"
        }
  recorded_at: Fri, 28 Mar 2025 10:59:12 GMT
recorded_with: VCR 6.3.1
