---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/invalid-ip-address
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "status": 404,
          "error": {
            "title": "Wrong ip",
            "message": "Please provide a valid IP address"
          }
        }
  recorded_at: Fri, 28 Mar 2025 11:00:41 GMT
recorded_with: VCR 6.3.1
